In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
df = pd.read_table('../pl_testData/2017_02_07/003/processed/gazeData_world.csv')

In [30]:
df.head(10)

,timestamp,index,confidence,norm_pos_x,norm_pos_y,base_data,gaze_point_3d_x,gaze_point_3d_y,gaze_point_3d_z,eye_center0_3d_x,...,eye_center0_3d_z,gaze_normal0_x,gaze_normal0_y,gaze_normal0_z,eye_center1_3d_x,eye_center1_3d_y,eye_center1_3d_z,gaze_normal1_x,gaze_normal1_y,gaze_normal1_z
0,96886.474441,0,0.122857,0.278846,0.208510,96886.474441098-0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,96886.490512,0,0.099732,0.289285,0.177271,96886.490511565-0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,96886.506428,0,0.146329,0.218745,0.179485,96886.506428023-0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96886.522510,0,0.158138,0.216510,0.184870,96886.522510473-0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96886.542424,1,0.142586,0.214756,0.185905,96886.542423733-0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,96886.558415,2,0.111878,0.213117,0.186962,96886.558414501-0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,96886.574435,2,0.131915,0.211477,0.188044,96886.574434536-0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,96886.590508,2,0.100052,0.214735,0.173520,96886.590507628-0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,96886.606629,3,0.119817,0.212795,0.175547,96886.606629388-0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,96886.626453,4,0.087804,0.215849,0.160940,96886.626453306-0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
worldFrame = np.zeros(4)
ref_gazeX = [-2342.3, 23432.32, 3222.4, 65433.2]
ref_gazeY = [543.3, 2342.23, 5422.3, 23411.3]
heatmap_df = pd.DataFrame({'worldFrame':worldFrame, 'ref_gazeX': ref_gazeX, 'ref_gazeY':ref_gazeY})

In [92]:
heatmap_df

   ref_gazeX  ref_gazeY  worldFrame
0   -2342.30     543.30         0.0
1   23432.32    2342.23         0.0
2    3222.40    5422.30         0.0
3   65433.20   23411.30         0.0

In [95]:
for i,row in heatmap_df.loc[heatmap_df['worldFrame'] == int(0), :].iterrows():
    print i

0
1
2
3

In [5]:
ts = np.load('../pl_testData/2017_02_07/003/world_timestamps.npy')

In [9]:
ts[:5]

array([ 96886.50547468,  96886.54153594,  96886.57367263,  96886.60950302,
        96886.64152796])

In [26]:
r = [2, 234, np.arange(30), 2]
for i in r:
    try:
        if i > 3:
            print 'found enough'
        else:
            print 'failed to find enough'
    except:
        print 'no matches found'
        pass

failed to find enough
found enough
no matches found
failed to find enough

In [77]:
tmp = df.loc[df['index']<20]

In [79]:
framesToUse = np.arange(0, 10, 1)

In [81]:
framesToUse.shape[0]

10

In [61]:
tmp2

NameError: name 'tmp2' is not defined

In [63]:
tmp2 = pd.DataFrame(columns=['test1','test2'])

In [65]:
newTmp = pd.DataFrame({'test1': 234, 'test2':23422}, index=[0])

In [68]:
tmp = pd.concat([tmp, newTmp])

In [83]:
gazeData_df = pd.DataFrame(columns=['gaze_ts', 'worldFrame', 'confidence',
                            'frame_gazeX', 'frame_gazeY',
                            'ref_gazeX', 'ref_gazeY', 
                            'obj_gazeX', 'obj_gazeY', 'obj_gazeZ'])

In [85]:
gazeData_df

Empty DataFrame
Columns: [gaze_ts, worldFrame, confidence, frame_gazeX, frame_gazeY, ref_gazeX, ref_gazeY, obj_gazeX, obj_gazeY, obj_gazeZ]
Index: []